doctype html
html
    head
        - var title = 'rettc-Technology Transfer Center for Renewable Energy';
        include ./variable.jade
        include ./head.jade
        link(rel='stylesheet', type='text/css', href='#{cssPath}error.css')
    body
        .main
            img(src="images/500.png")