doctype html
html
    head
        - var title = 'rettc-Technology Transfer Center for Renewable Energy';
        include ./variable.jade
        include ./head.jade
        style.
            p{margin-top:100px;}
            p, h3{text-align: center;}
            h3{margin-top: 50px;}
            a{display: inline-block;}
            a{width: 73px; height: 73px; margin: 10px;}
            img{width: 100%;height: 100%;}
            div{overflow: hidden;padding-top:50px;margin: 0 auto; text-align:center;}
    body
        p Oops! 您使用的浏览器版本过于陈旧，我们选择不支持！
        h3 建议您使用以下浏览器（点击图标下载）
        div
            a(href='http://www.google.com/chrome/', title='')
                img(src='#{imgPath}admin-chrome.png', alt='')
            a(href='http://download.firefox.com.cn/releases/webins3.0/official/zh-CN/Firefox-latest.exe', title='')
                img(src='#{imgPath}admin-firefox.png', alt='')
            a(href='http://www.apple.com/safari/download/', title='')
                img(src='#{imgPath}admin-safari.png', alt='')
            a(href='http://windows.microsoft.com/zh-CN/internet-explorer/products/ie/home', title='')
                img(src='#{imgPath}admin-ie.png', alt='')
