doctype html
html
    head
        - var title = 'rettc-Technology Transfer Center for Renewable Energy';
        include ./variable.jade
        include ./head.jade
        //- 开启DNS 预读取
        meta(http-equiv='x-dns-prefetch-control', content='on')
        //- link(rel='dns-prefetch', href='#{version}/test.html')
        link(rel='stylesheet', type='text/css', href='#{cssPath}index.css')
        style.
            li{
                list-style:upper-roman inside;
            }
    body
        //- 头部
        include ./header.jade
        //- 主体容器(测试代码)
        .main(style="width:500px; margin:0 auto; padding:50px;")
            h3 pc端，中文/英文开发框架
            ol(style="margin-top:20px;")
                li jquery+less+jade
                li Node编译(目前需手动维护js兼容)
                li nginx启动——转发
        //- 尾部信息
        include ./footer.jade
        script(src='#{jobPath}/index.js')